workflows/n8n_pipeline_a.json
{
  "name": "Clara Pipeline A — Demo to v1",
  "nodes": [
    {
      "parameters": {},
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "command": "cd /path/to/retel_assignment && python scripts/run_pipeline.py --mode a"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "Run Pipeline A",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [460, 300],
      "notes": "Change the path to your local project directory before using.\nWindows example: cd C:\\Users\\yourname\\retel_assignment && venv\\Scripts\\python scripts\\run_pipeline.py --mode a"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.stderr }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "Check for Errors",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "pipeline",
              "value": "Pipeline A"
            },
            {
              "name": "status",
              "value": "SUCCESS"
            },
            {
              "name": "output",
              "value": "={{ $('Run Pipeline A').item.json.stdout }}"
            },
            {
              "name": "timestamp",
              "value": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000004",
      "name": "Log Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [900, 200]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "pipeline",
              "value": "Pipeline A"
            },
            {
              "name": "status",
              "value": "FAILED"
            },
            {
              "name": "error",
              "value": "={{ $('Run Pipeline A').item.json.stderr }}"
            },
            {
              "name": "timestamp",
              "value": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000005",
      "name": "Log Failure",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [900, 420]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [{ "node": "Run Pipeline A", "type": "main", "index": 0 }]
      ]
    },
    "Run Pipeline A": {
      "main": [
        [{ "node": "Check for Errors", "type": "main", "index": 0 }]
      ]
    },
    "Check for Errors": {
      "main": [
        [{ "node": "Log Failure", "type": "main", "index": 0 }],
        [{ "node": "Log Success", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "_meta": {
    "description": "Pipeline A: Triggered when a new demo call transcript arrives. Runs demo extraction → memo v1 → agent spec v1 for all accounts.",
    "trigger": "Manual (or watch dataset/demo_calls/ for new files)",
    "command": "python scripts/run_pipeline.py --mode a",
    "idempotency_note": "Uncomment idempotency guards in run_pipeline.py before deployment to prevent duplicate v1 generation."
  }
}
