workflows/n8n_pipeline_b.json
{
  "name": "Clara Pipeline B — Onboarding to v2",
  "nodes": [
    {
      "parameters": {},
      "id": "b2c3d4e5-0002-0002-0002-000000000001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "command": "cd /path/to/retel_assignment && python scripts/run_pipeline.py --mode b"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000002",
      "name": "Run Pipeline B",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [460, 300],
      "notes": "Change the path to your local project directory before using.\nWindows example: cd C:\\Users\\yourname\\retel_assignment && venv\\Scripts\\python scripts\\run_pipeline.py --mode b\n\nIMPORTANT: Pipeline A must have run first for each account (v1 must exist)."
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.stderr }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000003",
      "name": "Check for Errors",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "pipeline",
              "value": "Pipeline B"
            },
            {
              "name": "status",
              "value": "SUCCESS"
            },
            {
              "name": "output",
              "value": "={{ $('Run Pipeline B').item.json.stdout }}"
            },
            {
              "name": "timestamp",
              "value": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000004",
      "name": "Log Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [900, 200]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "pipeline",
              "value": "Pipeline B"
            },
            {
              "name": "status",
              "value": "FAILED"
            },
            {
              "name": "error",
              "value": "={{ $('Run Pipeline B').item.json.stderr }}"
            },
            {
              "name": "timestamp",
              "value": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000005",
      "name": "Log Failure",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [900, 420]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [{ "node": "Run Pipeline B", "type": "main", "index": 0 }]
      ]
    },
    "Run Pipeline B": {
      "main": [
        [{ "node": "Check for Errors", "type": "main", "index": 0 }]
      ]
    },
    "Check for Errors": {
      "main": [
        [{ "node": "Log Failure", "type": "main", "index": 0 }],
        [{ "node": "Log Success", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "_meta": {
    "description": "Pipeline B: Triggered when an onboarding transcript arrives for an existing account. Applies updates → memo v2 → agent spec v2 + changelog. Requires Pipeline A to have completed first (v1 must exist).",
    "trigger": "Manual (or watch dataset/onboarding_calls/ for new files)",
    "command": "python scripts/run_pipeline.py --mode b",
    "dependency": "Pipeline A must run first. Pipeline B checks for v1 existence before patching.",
    "idempotency_note": "Uncomment idempotency guards in run_pipeline.py before deployment to prevent duplicate v2 generation."
  }
}
