workflows/n8n_workflow.json
{
  "nodes": [
    {
      "parameters": {},
      "id": "6930e02b-c981-4550-8bf8-5992f1fd7362",
      "name": "Manual Trigger (Run Backlog)",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        320,
        928
      ]
    },
    {
      "parameters": {
        "command": "venv\\Scripts\\python.exe scripts\\run_pipeline.py --llm local 2>&1"
      },
      "id": "b67d23c9-50b0-416b-856a-35dd83ce8a9e",
      "name": "Process All Backlog",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        576,
        928
      ]
    },
    {
      "parameters": {
        "triggerOn": "folder",
        "events": [
          "add",
          "change"
        ],
        "options": {}
      },
      "id": "3ee34bc7-92fa-4932-a717-7799f40e09e9",
      "name": "New Transcript Arrival (File Watcher)",
      "type": "n8n-nodes-base.localFileTrigger",
      "typeVersion": 1,
      "position": [
        320,
        1232
      ]
    },
    {
      "parameters": {
        "command": "cmd /c \"set LLM_MODE=local && venv\\Scripts\\python.exe scripts\\run_pipeline.py --file \\\"{{ $json.path }}\\\" 2>&1\""
      },
      "id": "e1a5c352-f685-4cf4-895d-142cc010e551",
      "name": "Process Transcript",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        560,
        1232
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.stdout }}",
              "operation": "contains",
              "value2": "[ERROR]"
            }
          ]
        }
      },
      "id": "e5e560ca-5f46-4ed5-a8b7-a1cb203c7b11",
      "name": "Check for Errors",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        832,
        1232
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "status",
              "value": "FAILED"
            },
            {
              "name": "output",
              "value": "={{ $json.stdout }}"
            }
          ]
        },
        "options": {}
      },
      "id": "87c86407-286e-4bf0-88a2-209b99afa319",
      "name": "Log Failure",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1088,
        1136
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "status",
              "value": "SUCCESS"
            },
            {
              "name": "file",
              "value": "={{ $('New Transcript Arrival (File Watcher)').item.json.path }}.processed"
            }
          ]
        },
        "options": {}
      },
      "id": "eadb2fe5-1c52-4df1-aba2-d43f7861dd7b",
      "name": "Log Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1088,
        1344
      ]
    }
  ],
  "connections": {
    "Manual Trigger (Run Backlog)": {
      "main": [
        [
          {
            "node": "Process All Backlog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New Transcript Arrival (File Watcher)": {
      "main": [
        [
          {
            "node": "Process Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Transcript": {
      "main": [
        [
          {
            "node": "Check for Errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Errors": {
      "main": [
        [
          {
            "node": "Log Failure",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "a778af372436d7833d67d6b27b05303560f2c998663a8db08fe03fdddf7d7901"
  }
}